body {
  padding-top: 5rem;

}
.hidden{
  display: none;
}
.header-img{
  position:absolute;
}
#britishpin {
  position: absolute;
  left: 550px;
  top: 420px;
}
#chinapin {
  position: absolute;
  left: 876px;
  top: 368px;
}
#morrocopin {
  position: absolute;
  left: 510px;
  top: 420px;
}
#turkeypin {
  position: absolute;
  left: 680px;
  top: 370px;
}
#palestinepin {
  position: absolute;
  left: 650px;
  top: 420px;
}
#pakistanpin {
  position: absolute;
  left: 750px;
  top: 450px;
}
#thaipin {
  position: absolute;
  left: 850px;
  top: 480px;
}
#japanpin {
  position: absolute;
  left: 960px;
  top: 370px;
}
~
