body {
  padding-top: 5rem;

}
.hidden{
  display: none;
}
.header-img{
  position:absolute;
}
#britishpin {
  position: absolute;
  left: 550px;
  top: 420px;
}
#chinapin {
  position: absolute;
  left: 200px;
  top: 150px;
}
#morrocopin {
  position: absolute;
  left: 200px;
  top: 150px;
}
#turkeypin {
  position: absolute;
  left: 200px;
  top: 150px;
}
#palestinepin {
  position: absolute;
  left: 200px;
  top: 150px;
}
#pakistanpin {
  position: absolute;
  left: 200px;
  top: 150px;
}
#thaipin {
  position: absolute;
  left: 300px;
  top: 250px;
}
#japanpin {
  position: absolute;
  left: 200px;
  top: 150px;
}
~
