body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

INPUT {
  margin-left: 90px;
}
.hidden{
  display: none;
}
.header-img{
  position:relative;
}
#britishpin {
  position: absolute;
  left: 200px;
  top: 150px;
}
